<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> --}}
    <link rel="stylesheet" href="/css/style.css"></link>
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <label class="logo">Super Auction Kart</label>
            <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/login">Login/Signup</a></li>
                <li><a href="/about">About</a></li>        
            </ul>            
            
            
        </nav>
        <h1></h1>
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer>
        
    </footer>
</body>
</html>