<div class="fTable" id="description">
    <h3>Description</h3>
    <p>
        Super Auction Cart is an auction site strictly for Nintendo products. It reduces the amount of time collector's
        spend searching the internet for Nintendo items. Super Auction Cart also helps reduce the amount of time a
        collector
        spends listing their items to sell too.
    </p>
</div>

<div class="fTable" id="team">
    <div class="heading">
        <h3>Our Team</h3>
        <p>Super Auction Kart was created by these Super Awesome People</p>
    </div>

    <div class="team-cards">
        <div class="card" id="daniel">
            <a href="https://github.com/Daniel-ipymb" target="_blank">
                <img class="name-image" height="200" src="./images/daniel.png" alt="Daniel Avitar">
                <p>Daniel</p>
                <p class="grey">Full Stack Developer</p>
            </a>
        </div>
        <div class="card" id="elison">
            <a href="https://github.com/elisonliu97" target="_blank">
                <img class="name-image" height="200" src="./images/elison.png" alt="Elison Avitar">
                <p>Elison</p>
                <p class="grey">Full Stack Developer</p>
            </a>
        </div>
        <div class="card" id="jon">
            <a href="https://github.com/harviator" target="_blank">
                <img class="name-image" height="200" src="./images/jon.png" alt="Jon Avitar">
                <p>Jon</p>
                <p class="grey">Full Stack Developer</p>
            </a>
        </div>
        <div class="card" id="Kevin">
            <a href="https://github.com/kcrawford101" target="_blank">
                <img class="name-image" height="200" src="./images/kevin.png" alt="Kevin Avitar">
                <p>Kevin</p>
                <p class="grey">Full Stack Developer</p>
            </a>
        </div>
    </div>
</div>
