<div>
    <h2>Current Auctions</h2>

    <table class="table-auto">
        <thead>
            <tr>
                <th>Item</th>
                <th>Starting Bid</th>
                <th>Quality</th>
            </tr>
        </thead>
        <tbody>
            {{#each auctions as |auction|}}
            <tr>
                <td><p>Item</p> {{auction.merchandise.name}}</td>
                <td>{{auction.starting_bid}}</td>
                <td>{{auction.quality}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{!-- Current items for sale
    -Need a hb for loop to render
    -Ability to select item if logged in.  If not logged in need to be redirected to login page --}}
</div>