<div>
    <h2>Current Auctions</h2>

    <section class="posts">
        {{#each auctions as |auction|}}
            

    </section>
    {{!-- Current items for sale
    -Need a hb for loop to render
    -Ability to select item if logged in.  If not logged in need to be redirected to login page --}}
</div>