<div>
    <h2 class="text-center mt-6 font-extrabold">Current Auctions</h2>

    <table class="fTable mx-auto">
        <thead class="tHead">
            <tr>
                <th class="w-1/5 text-center px-4 py-4">
                    <div class="uppercase tracking-wide">Items</div>
                </th>

                <th class="w-1/5 text-center px-4 py-4">
                    <div class="uppercase tracking-wide">Current Bid</div>
                </th>

                <th class="w-1/5 text-center px-4 py-4">
                    <div class="uppercase tracking-wide">Quality</div>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each auctions as |auction|}}
            <tr class="text-center">
                <td class="border border-black">
                    <a href="/posting/{{auction.id}}">
                        {{auction.merchandise.name}}
                    </a>
                </td>
                <td class="border border-black">${{auction.current_bid}}</td>
                <td class="border border-black">{{auction.quality}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="user-dashboard">
    <div class="fTable card" id="my-bids">
            <h3>My Bids</h3>
            <p class="grey">Coming Soon</p>
    </div>
    <div class="fTable card" id="most-recent">
            <h3>Most Recent</h3>
            <p class="grey">Coming Soon</p>
    </div>
    <div class="fTable card" id="my-auctions">
            <h3>My Auctions</h3>
            <p class="grey">Coming Soon</p>
    </div>
</div>