<div>
    <h2>Current Auctions</h2>

    <section class="posts">
        {{#each auctions as |auction|}}
        <h4>Item:</h4>
        <p>{{auction.merchandise.name}}</p>
        <h4>Starting Bid:</h4>
        <p>{{auction.starting_bid}}</p>
        <h4>Quality:</h4>
        <p>{{auction.quality}}</p>
        {{/each}}


            

    </section>
    {{!-- Current items for sale
    -Need a hb for loop to render
    -Ability to select item if logged in.  If not logged in need to be redirected to login page --}}
</div>