<div>
    <h2 class="mb-5">Current Auctions</h2>
    <table class="fTable">
        <thead class="tHead">
            <tr>                
                <th class="w-1/5 text-center px-4 py-4">                
                <div class="uppercase tracking-wide">Items</div>                
                </th>

                <th class="w-1/5 text-center px-4 py-4">
                <div class="uppercase tracking-wide">Starting Bid</div>   
                </th>

                <th class="w-1/5 text-center px-4 py-4">
                <div class="uppercase tracking-wide">Quality</div>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each auctions as |auction|}}
            <tr class="text-center">
                <td class="border border-black">
                    <a href="/postings/{{auction.posting.id}}">
                        {{auction.merchandise.name}}
                    </a>                    
                </td>
                <td class="border border-black">{{auction.starting_bid}}</td>
                <td class="border border-black">{{auction.quality}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
    {{!-- Current items for sale
    -Need a hb for loop to render
    -Ability to select item if logged in. If not logged in need to be redirected to login page --}}
