<div class="text-center">
    <p class="m-6">
        Before you can place you bid, please log into your account or sign up if you're a new user!
    </p>
</div>

<div class="grid grid-cols-2 logCards">
    <div class="fTable ml-48 mr-12 mt-12">
        <h2 class="tHead">Log In</h2>
        <form class="login-form grid grid-rows-1">
            <label class="mx-16" for="username">username:</label>
            <input class="username border border-black mx-16" type="text" id="email-login">

            <label class="mx-16" for="password">password:</label>
            <input class="password border border-black mx-16" type="password" id="password-login">

            <button class="button mx-auto" type="submit">login</button>
        </form>
    </div>

    <div class="fTable mr-48 ml-12 mt-12">
        <h2 class="tHead">Sign Up</h2>
        <form class="signup-form grid grid-rows-1">
            <label class="mx-16" for="username-signup">Create a username (use an email):</label>
            <input class="username border border-black mx-16" type="text" id="username-signup">

            <label class="mx-16" for="password">password:</label>
            <input class="password border border-black mx-16" type="password" id="password-signup">

            <button class="button mx-auto" type="submit">Signup</button>
        </form>
    </div>
</div>

<script src="./jslogin.js"></script>