<div>
    <h2>Log In</h2>
    <form class="login-form">
        <label for="username">Email:</label>
        <input class="username" type="text" id="email-login" >

        <label for="password">Password:</label>
        <input class="password" type="password" id="password-login">

        <button class="button" type="submit">LOGIN</button>
    </form>
</div>

<div>
    <h2>Signup</h2>
    <form class="signup-form">
        <label for="username-signup">Username:</label>
        <input class="username" type="text" id="username-signup" >

        <label for="email-signup">Email:</label>
        <input class="email" type="text" id="email-signup">

        <label for="password">Password:</label>
        <input class="password" type="password" id="password-signup">

        <button class="button" type="submit">SIGNUP</button>
    </form>
</div>

<script src="./js/login.js"></script>