<div class="grid grid-cols-2 logCards">
    <div class="fTable">
        <h2 class="tHead">Log In</h2>
        <form class="login-form ">
            <label for="email">Email:</label>
            <input class="email" type="text" id="email-login">

            <label for="password">Password:</label>
            <input class="password" type="password" id="password-login">

            <button class="button" type="submit">Login</button>
        </form>
    </div>

    <div class="fTable">
        <h2 class="tHead">Sign Up</h2>
        <form class="signup-form">
            <label for="username-signup">Username:</label>
            <input class="username" type="text" id="username-signup">

            <label for="email-signup">Email:</label>
            <input class="email" type="text" id="email-signup">

            <label for="password">Password:</label>
            <input class="password" type="password" id="password-signup">

            <button class="button" type="submit">Signup</button>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>