<div>
    <h2>Post item for bidding</h2>
    <form class="add-post-form fTable">
        <div class="fTable grid grid-rows-1">
            {{!-- choose item --}}
        <div class="border border-black mx-auto">
            <label>ITEM</label>
            <select id="add-item">
                {{#each items as |item|}}
                <option value="{{item.id}}">{{item.name}}</option>
                {{/each}}
            </select>
        </div>

        {{!-- quality --}}
        <div>
            <label>QUALITY</label>
            <input type="number" id="add-quality">
        </div>

        {{!-- starting bid --}}
        <div>
            <label>STARTING BID</label>
            <input type="number" id="add-starting-bid">
        </div>
       
        {{!-- submit button --}}
        <div>
            <button type="submit" value="Submit">Submit</button>
        </div>
        </div>
        
    </form>
</div>

<script src="/js/newpost.js"></script>