<div>
    <h2>Post New Bid</h2>
    <form class="add-post-form fTable mx-auto">
        <div class="grid grid-rows-1">
            {{!-- choose item --}}
        <div class="border border-black mx-auto">
            <label>ITEM</label>
            <select id="add-item">
                {{#each items as |item|}}
                <option value="{{item.id}}">{{item.name}}</option>
                {{/each}}
            </select>
        </div>

        {{!-- quality --}}
        <div class="mx-auto">
            <label>QUALITY</label>
            <input class="border border-black m-2" type="number" id="add-quality">
        </div>

        {{!-- starting bid --}}
        <div class="mx-auto">
            <label>STARTING BID</label>
            <input class="border border-black m-2" type="number" id="add-starting-bid">
        </div>
       
        {{!-- submit button --}}
        <div class="mx-auto">
            <button class="border border-black m-2" type="submit" value="Submit">Submit</button>
        </div>
        </div>
        
    </form>
</div>

<script src="/js/newpost.js"></script>