* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --redBorder: #F96363;
    --blueButton: #15BEE3;
    --redButton: #EF6161;
}

nav {
    background: var(--redBorder);
    height: 80px;
    width: 100%;
}