/* ============ */
/* Tailwind src */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ============ */

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* Temporary border */
    /* border: 1px solid black; */
}

/* ================ */
/* Navbar */
:root {
    --redBorder: #F96363;
    --blueButton: #15BEE3;
    --redButton: #EF6161;
}

.title {
  margin-left: -2.5em; 
}

nav {
    background: var(--redBorder);
    height: 80px;
    width: 100%;
}

#logo {
    font-size: 45px;
    margin: 5px;
}

label.title {
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0px 100px;
    font-weight: bold;    
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover {
    background: var(--blueButton);
    transition: .5s ease;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
/* Navbar */
/* ================ */

h2 {
    font-size: 36px;
}


h4 {
  font-size: 1em;
  font-weight: bolder;
}
 
h3 {
    font-size: 19px;
    font-weight: bolder;

}

.fTable {
    border: 8px solid var(--redBorder);
    box-shadow: 3px 4px 12px grey;
    height: 100%;   
    /* margin-left: auto;
    margin-right: auto; */
}

.tHead {
    background-color: var(--redBorder);
    color: white;
    font-size: 20px;
}

.logCards {    
    margin-top: 20px;
    height: 70%;
}

footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    /* background: grey; */
}

.post-title {
  text-align: center;
  background-color: #F96363;
  color: white;
  margin: 0 !important;
  padding: 0;

  /* margin-bottom: 14em; */
}

.main-title {
  line-height: 3em;
  text-align: center;
  font-size: larger;
  /* padding:10px; */
  /* padding: 10em; */
  /* border-color: black;
  border-radius: 50em; */
}

.main-container {
  /* width: 100%; */
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  /* border: 3px solid green; */
  margin-top: 10em; 
}

button {
    color: #ffff;
    margin-top: 5px; 
    padding: 4px;   
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    background-color: var(--blueButton);
}

img {
    margin-bottom: 10px;
    border-radius: 50%;
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
}

.card {
    border-radius: 5px;
    box-shadow: 3px 4px 12px grey;
    margin: 20px;
}

.grey {
    padding: 100px 150px 100px 150px;
    color: grey;
}

.user-dashboard {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 100px;
}

.card > h3 {
    background-color: var(--redBorder);
    color: white;
}

.card > p {
    font-size: 15px;
    font-weight: bolder;
}

#description {
    margin: 20px;
    padding: 10px;
    text-align: center;
}

#team {
    margin: 20px;
    padding: 10px;
    text-align: center;
}


@media (max-width: 952px) {
    label.title {
        font-size: 30px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #414a4d;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s ease;
    }
    nav ul li {
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active {
        background: none;
        color: pink;
    }
    #check:checked ~ ul {
        left: 0;
    }
}